.slider__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider {
  overflow: hidden;
  position: relative;
  flex: 0 1 90%;
  width: 80%;
  height: 80%;
  align-self: center;
  border-radius: 1rem;

  & .slide_list {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease;

    & .slide {
      flex: 1 0 100%;

      & .slide_image {
        margin: 0 auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__left_arrow {
    left: 2%;
  }

  &__right_arrow {
    right: 2%;
  }

  &__left_arrow,
  &__right_arrow {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;

    svg {
      font-size: 60px;
      transition: all 0.3s ease;
      z-index: 5;
    }

    :hover {
      padding: 15px;
    }
  }

  &__left_arrow:hover,
  &__right_arrow:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.images {
  flex: 0 1 10%;
  display: flex;

  gap: 10px;

  & .image__container {
    cursor: pointer;
    &:hover img {
      padding: 8px;
    }
  }

  & .image__container_selected {
    background-color: var(--primary-color);
    outline: 6px solid var(--primary-color);
  }

  .image__container,
  .image__container_selected {
    flex: 0 1 20%;
    position: relative;
    border-radius: 4px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      transition: padding 0.3s ease;
    }
  }
}
