@import "../../../../breakpoints.scss";
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 15% 1rem;

  @include md {
    padding: 0 5%;
  }

  @include xs {
    padding: 0 0;
  }
}
