@import "../../breakpoints.scss";

.auth {
  margin-top: -120px;
  @include sm {
    margin-top: -150px;
  }
  // .auth__container

  &__container {
    display: flex;
    height: 100vh;

    @include sm {
      flex-direction: column;
    }
  }

  // .auth__about

  &__about {
    height: 100%;
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    align-items: center;

    @include sm {
      background-color: var(--secondary-color);
      color: #fff;
    }
  }

  // .auth__logo

  &__logo {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }

  &__title {
    padding: 0.5rem 0;
  }

  // .auth__description

  &__description {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  // .auth__slogan

  &__slogan {
    font-size: 24px;
    font-weight: 300;
  }

  // .auth__form

  &__form {
    flex: 0 1 50%;
    background-color: var(--secondary-color);
  }
}
.form {
  // .form__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include sm {
      margin-top: 1rem;
      display: block;
      height: fit-content;
    }
  }

  &__content {
    padding: 15px;
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    color: var(--primary-color);
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

    @include sm {
      border-radius: 0px;
    }

    h2 {
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 700;
    }

    label {
      color: var(--primary-color);
    }

    svg {
      align-self: center;
    }

    @include lg {
      flex: 0 1 70%;
    }
    @include sm {
      flex: 0 1 95%;
    }
  }
  &__switch-btn {
    text-align: end;
  }
}
