@import "../../../../breakpoints.scss";
.gallery {
  scroll-snap-align: start;

  background: linear-gradient(
    rgba(10, 10, 10),
    rgba(10, 10, 10, 0.8),
    rgba(10, 10, 10, 0.5),
    rgba(10, 10, 10, 0.5),
    rgba(10, 10, 10, 0.8),
    rgba(10, 10, 10)
  );
}

.image_slider_container {
  // padding: 20px 0 20px 0;
  height: 100vh;
  padding: 2rem;

  @include md {
    padding: 1rem 0px;
  }
}
